<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    <title>Test</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="webjars/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" media="screen"> </link>
</head>
<body>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="webjars/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<div style="margin-top: 5%">
    <h1 class="text-center">Create a New Scope</h1>

    <div class="container">

        <form th:action="@{/createScope}" method="post" modelAttribute="scope">
            <h2 class="form-signin-heading">Enter the parameters</h2>

            <label for="firstparameter">Name of the Scope</label>
            <input type="text" id="name" name="name" required="required" class="form-control" placeholder="i.e scopetest" />

            <label for="secondparameter">Start Range</label>
            <input type="text" id="sRange" name="srange" required="required" class="form-control" placeholder="i.e 192.168.5.1" />

            <label for="secondparameter">End Range</label>
            <input type="text" id="eRange" name="erange" required="required" class="form-control" placeholder="i.e 192.168.5.100" />

            <label for="secondparameter">Subnet Mask</label>
            <input type="text" id="subMask" name="submask" required="required" class="form-control" placeholder="i.e 255.255.255.0"  />

            <label for="secondparameter">Description</label>
            <input type="text" id="description" name="description" required="required" class="form-control" placeholder="i.e Created for Testing" />

            <label for="secondparameter">DHCP-Server Name</label>
            <input type="text" id="serverName" name="servername" required="required" class="form-control" placeholder="i.e dhcp-server" />
            <br/>
            <input type="submit" value="Commit" class="btn btn-lg btn-primary btn-block" />
            <br/>
            <button onclick="location.href = '/listScopes'" type="button" value="listScopes" class="btn btn-success form-control">List of Scopes</button>
            
            <br/>
            <p class="text-center" th:utext="${success != null} ? ${#strings.replace(#strings.escapeXml(success),'&#10;','&lt;br&gt;')}"></p>
            <br/>
            <p style="color:red;" th:utext="${exception != null} ? ${#strings.replace(#strings.escapeXml(exception),'&#10;','&lt;br&gt;')}" ></p>
        </form>

    </div>

</div>

</body>
</html>